*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

/* header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
    z-index: 999;
}

.fokir h3 {
    padding-left: 100;
    font-size: 24px;
    font-weight: 800px;
    color: #FF305B;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    font-weight: 300px;
    color: aliceblue;
    line-height: 75px;
    font-size: 16px;
    padding: 0 0 0 25px;
    transition: all .5s;
}

nav ul li a:hover {
    color: #FF305B;
}

/* main */
main {
    background-image: url(img/slider-02.jpg);
    background-position: center center;
    height: 100vh;
    background-size: cover;
}

/* 1-home */
main .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-family: Source Sans 3;
    padding-top: 250px;
    background-color: rgba(0,0,0,.8);
    height: 100vh;

}

main .home span{
    font-size: 24px;
    font-weight: 600px;
    margin: 5px;
}

main .home h1{
    color: #FF305B;
    font-size: 70px;
    font-weight: 700px;
    margin: 0;
}

main .home p{
    font-size: 26px;
    font-weight: 300px;
    margin: 0;
}

/* about */
.about {
    width: 100%;
    padding: 70px 100px;
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container .left {
    position: relative;
}

.about .container .left::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -60px;
    width: 350px;
    height: 470px;
    border: 9px solid #5C5C5C;
    border-radius: 10px;
}

.about .container .img {
    position: relative;
    overflow: hidden;
    margin-right: 140px;
    border-radius: 7px;
}
.about .container .img:hover .social {
    transform: translateY(0%);
}

.about .container .social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: 0.6s;
}

.about .container .social i {
    margin: 0% auto;
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
    transition: all .4s;
}

.about .container .social i:hover {
    color: #FF305B;
}

.about .container h2 {
    font-size: 34px;
    font-weight: 600;
    color: #333333;
    padding: 0 10px;
    border-left: 5px solid #FF305B;
}

.about .container .p {
    font-size: 17px;
    line-height: 1.5;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 3px dashed #555555;
    margin-bottom: 15px;
}

.about .container .data {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

.about .container .data p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 20px;
}

.about .container .data span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.about .container .buttons .btn {
    background-color: #FF305B;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    padding: 10px 25px;
    margin-right: 10px;
    transition: all .4s;
}

.about .container .buttons .btn:hover {
    background-color: #EC2403;
}

/* services */
.services {
    background-color: #F1F1F1;
    padding: 70px 100px;
}

.services .container .sec-1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.services .container .sec-2 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.services .container .sec-2 .box {
    width: 24%;
    transition: transform .8s;
    padding: 40px 15px;
}

.services .container .sec-2 .box:hover {
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.117);
}

.services .container .sec-2 .box i {
    color: #FF305B;
    font-size: 25px;
}

.services .container .sec-2 .box h3 {
    color: #555555;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}

.services .container .sec-2 .box p {
    font-size: 17px;
}

.portfolio {
    width: 100%;
    padding: 70px;
}

.portfolio .container {
    text-align: center;
}

.portfolio .container .sec-1 h2 {
    font-size: 45px;
    font-weight: 800;
}

.portfolio .container .sec-1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 35px 0;
}

.portfolio .container .sec-1 ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0 10px;
    transition: color .3s;
}

.portfolio .container .sec-1 ul li a:hover {
    color: #FF305B;
}

.portfolio .container .sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.portfolio .container .sec .box {
    position: relative;
    overflow: hidden;
}

.portfolio .container .sec .box .overlay {
    position: absolute;
    top: 0;
    background-color: #3333339c;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.portfolio .container .sec .box .overlay:hover {
    opacity: 1;
}

.portfolio .container .sec .box .overlay i {
    margin: 65% 90%;
    font-size: 20px;
    color: #FF305B;
}



/* data */
.testimonial {
    width: 100%;
    background-color: #F1F1F1;
    padding: 70px 100px;
}

.testimonial .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.testimonial .container i {
    font-size: 30px;
    color: #FF305B;
    margin-bottom: 5px;
}

.testimonial .container span {
    font-size: 25px;
    font-weight: 800;
    color: #333333;
}

.testimonial .container p {
    font-size: 17px;
    font-weight: 700;
    color: #555555;
    margin-top: 5px;
}

/* feedback */
.feedback {
    width: 100%;
    background-color: #fff;
    padding: 70px 100px;
}

.feedback .container {
    text-align: center;
    width: 100%;
}

.feedback .container h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 45px;
}

.feedback .container .card {
    position: relative;
    background-color: #F1F1F1;
    width: 650px;
    height: 230px;
    margin: auto;
    border-radius: 5px;
    padding: 35px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
}

.feedback .container .card::after {
    content: "";
    position: absolute;
    top: -100px;
    left: -185px;
    background-color: #FF305B;
    height: 510px;
    width: 200px;
    transform: rotate(30deg);
}

.feedback .container .card img {
    border-radius: 50px;
    margin-right: 10px;
    z-index: 2;
}

.feedback .container .card h3 {
    color: #333333;
    font-size: 26px;
    font-weight: 600;
}

.feedback .container .card .location {
    margin: 7px 0;
    color: #555555;
    font-size: 15px;
    font-weight: 600;
}

.feedback .container .card p {
    color: #555555;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
}

.feedback .container .card .rank {
    color: #F1C30D;
}

/* blog */
.blog {
    width: 100%;
    background-color: #F1F1F1;
}

.blog .container {
    width: 100%;
    padding: 70px 0;
}

.blog .container h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 45px;
    text-align: center;
}

.blog .container .block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .container .block .box {
    background-color: #fff;
    margin: 0 13px;
    max-width: 392px;
}

.blog .container .block .box .content {
    padding: 18px 20px;
}

.blog .container .block .box .content span {
    color: #000000b7;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.blog .container .block .box .content h3 {
    font-size: 20px;
    font-weight: 700;
    transition: color .3s;
    cursor: pointer;
    color: #333333;
    margin: 10px 0;
}

.blog .container .block .box .content h3:hover {
    color: #FF305B;
}

.blog .container .block .box .content p {
    color: #555555;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 10px 0;
}

.blog .container .block .box .content a {
    font-size: 15px;
    font-weight: 600;
    color: #242424d7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color .3s;
}

.blog .container .block .box .content a:hover {
    color: #FF305B;
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.contact h1{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 40px;
}
.contact form .contactInput input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(132, 132, 132);
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.contact textarea{
    border-radius: 5px;
    border: 1px solid rgb(132, 132, 132);
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}
.contact form button{
    display: flex;
    justify-content: flex-start;
    background-color: #FF305B;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding: 15px 30px;
    border-radius: 5px;
}
.contact form button:hover{
    background-color: #EC2403;
}

/* footer */
footer {
    background-color: #333333;
    text-align: center;
    padding: 45px 0;
}

footer .social a {
    font-size: 17px;
    margin: 0 10px;
    color: #fff;
    transition: all .4s;
}

footer .social a:hover {
    color: #FF305B;
}

footer p {
    color: #fff;
    margin: 15px;
}
p span{
    color: #FF305B;
}
